.sort_div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-image: url('../../images/269.jpg');
    background-size: 10%;
    padding: 10px;
    color: #fff;
}

h3 {
    margin: 5px 5px;
}

.sort_div input {
    margin-left: 5px;
}

.break_div {
    background-image: url('../../images/269.jpg');
    background-size: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

/* @media (min-width: 1024px) {
    .break_div {
        height: 100vh;
    }
} */